.row {
  padding: 100px 0 50px 0;
  max-width: 1200px;
}

.header_div {
  text-align: center;
}

.header_div h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--primaryitemcolor);
}

.header_div h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primaryitemcolor);
}

.header_div p {
  color: var(--textcolor);
  font-size: 20px;
}

/* HeroThreeSection.module.css */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card_body {
  padding: 16px;
}

.card_text {
  font-size: 1rem;
}

.card_title {
  margin-top: auto; /* Pushes the title to the bottom */
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.header_div h2 {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 50px; /* Adds 50px gap between rows */
}

@media only screen and (max-width: 991px) {
  .row_dish {
    border-bottom: none;
  }

  .dish_col {
    border: none;
    border-bottom: 1px solid var(--bordercolor);
    padding: 30px 0;
  }
}

@media only screen and (max-width: 576px) {
  .header_div h2 {
    font-size: 36px;
  }

  .header_div p {
    font-size: 16px;
  }
}
